<div class="buttons">
  <button type="button" class='standard-button'>Standard</button>
  <button type="button" class='modern-button'>Modern</button>
  <button type="button" class="legacy-button">Legacy</button>
  <button type="button" class="vintage-button">Vintage</button>
</div>

<div id="tournaments-header">Latest tournaments:</div>
<div id='tournaments'>
  <% @tournaments.each do |tournament| %>
    <% if tournament.format == 'Standard' %>
      <li><%= link_to ("#{tournament.name} - #{tournament.description}"), tournament_path(tournament) %></li>
    <% end %>
  <% end %>
</div>
