// @import "*";
@import "./colors";
@import "./index";

#body {
  background-color: #FFFFFF;
}

.website-title {
  :link {
    font-family: arial;
    color: $brown;
    text-decoration: none;
  }

  :visited {
    color: $brown;
    text-decoration: none;
  }
}

#search {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 25px;
  font-size: .5rem;
  background-color: black;
  color: white;
  text-align: center;
}
