#tournaments {
  font-family: sans-serif;
  background-color: $blue;
  border: solid;
  margin-left: 20px;
  margin-right: 20px;
}

.top-bar {
  margin: 5px;
  border: solid;
  background-color: $blue;
}
