#tournaments-header {
  margin-left: 5px;
  margin-top: 5px;
  text-decoration: underline;
}

#tournaments {
  margin-top: 5px;
  margin-left: 5px;
}

#tournaments > li > a {
  color: black;
}


.buttons {
  margin-left: 5px;
  border-bottom: solid 1px;
}


.buttons > button {

}
